<div class="product-list">
    <h1>All Product List</h1>
    <p class="message-p">{{deleteMessage}}</p>
    <table>
        <thead>
            <tr>
                <!-- <th>Product ID</th> -->
                 <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Price</th>
                
                <th>Product Color</th>
                <th>Product Category</th>
                <th>Product Description</th>
                
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td>{{item.image}}</td>
               <td>{{item.name}}</td>
               <td>{{item.price}}</td>
               <td>{{item.color}}</td>
               <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <fa-icon (click)="deleteproduct(item.id)" [icon]="icon"></fa-icon>
                <!-- <button >Delete</button> -->
                 <a routerLink="/seller-update-product/{{item.id}}"> <fa-icon [icon]="editIcon"></fa-icon></a>
            </tr>
        </tbody>
    </table>
</div>